[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-cpu = "*"
flask = "*"
numpy = "*"
transformers = "*"
tensorflow-hub = "*"
sentencepiece = "*"
gdown = "*"

[dev-packages]

[requires]
python_version = "3.8"
